<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	     <title>Add Contact</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	</head>
	<body>
		<div class="container">
			<div style="margin-top: 10px;">
				<form class="form-horizontal" th:object="${contact}" th:action="@{/add}" th:method="post">
			        <div class="form-group">
			            <label class="control-label">First Name:</label><br />
						<input type="text" th:field="*{firstName}" required>
			        </div>				    		
			        <div class="form-group">
			            <label class="control-label">Last Name:</label><br />
						<input type="text" th:field="*{lastName}" required>
			        </div>
			        <div class="form-group">
			            <label class="control-label">Phone Number:</label><br />
						<input type="text" th:field="*{phoneNumber}" required><br />
						<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number must be between 111111111 and 999999999!</span>
			        </div>
			        <div class="form-group">
			            <label class="control-label">City:</label><br />
						<input type="text" th:field="*{city}" required>
			        </div>
			        <div class="form-group">
			            <label class="control-label">Address:</label><br />
						<input type="text" th:field="*{address}" required>
			        </div>
			        <div class="form-group">
			            <label class="control-label">Zip code:</label><br />
						<input type="text" th:field="*{zipCode}" pattern="[0-9][0-9]-[0-9][0-9][0-9]" required>
			        </div>
			        <div class="row">
			            <button type="submit" class="btn btn-primary">Add Contact</button>
			        </div>
			    </form>
			</div>
		</div>
	</body>
</html>